language: java

env:
  global:
    - SONATYPE_USERNAME=ph@phloc.com
    - secure: "ysu/z3z/8gFKucmGiio6H3IuLz2sQDIf95W+PtrkzmrhiAwC8pJ4CRPjF9X1YPQLw3K/mNzyIAcG8C2GwuouObmgI
bsHpvTbYtqL79ufykj5xBbgzVKuBP/Lh5hp38Ca5gBMu+aXbT2ZgznqopkZljtbr+9H1qYiKyoano8dLD8xvd5ESIWIZc28nOYrG
AZGrK/1SXhCMUMPaKQ3QgaEjm/4oZutBBTE9dnb644bTZH3ylpOqUpLvl+p/zdHt6IoR4mfCdTlZtCBTpacgpBhrBLsBFD6JD1mW
Z+GZ403eKYyQtbX8xsNI/I+KFAlRTWkQLZ3C5ET8AZlHZHq+T8fCAny8TAcmf0ImN+PCDEy375VBRpECJFKrRZ1TuVpdioPfq6lg
4vKhYTR5pII25eiDF6vbggdOohJNtFzvufP09VDQfZ45+AbzJTfmuPo3Le1Hi4LWiaZ5s+wtW+NpHHuypYeYgvVLJX7+M58IkyJb
3/YV0nPIly+kxYn1rwV10dhv7rwZ6tcISiQ/c8Khp8t71JsQyvbkkv1BCHObxC9NxC5caBBZzRxRHUCV7vWEMEOjnv+AMLG6zzSg
Slxy5Op2A1PT12OxtNQnLaJk1dcdfa+hZycls9Exm3/BWdmNdrJDDIoEpm0QYNIN7D0Y9cauDLBkZyUbFWgoBNbZ4Ksdm8="
    
jdk:
  - oraclejdk8
  
cache:
  directories:
  - $HOME/.m2

after_success:
  - python mvn-settings-add-snapshot.py
  - mvn clean deploy -DskipTests=true --settings ~/.m2/snapshot-settings.xml
  